@page "/User/UserInfo"
@model IndexModel

@{
	Layout = "Shared/_Layout";
}

@section Stylesheets{
	<link rel="stylesheet" href="~/css/user.css" />
}

<!DOCTYPE html>
<html>
<head>
	<title>User Page</title>
	<base href="/" />
</head>
<body>
	<component type="typeof(Routed)" render-mode="Server" />
	<script src="/_framework/blazor.server.js"></script>
	<script src="/js/RenamePopover.js"> </script>
</body>
</html>